#notify {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  margin-top: 20px;
  margin-right: 25px;
  list-style: none;
}

.notify__li {
  margin: 5px;
  padding: 5px;
  transition: 0.2s;
  background-color: white;
  cursor: pointer;
  border-width: 1px;
  border-bottom-width: 5px;
  border-style: solid;
  border-color: gray;
  border-radius: 2px;
}

.notify__li:hover {
  color: gray;
}

.notify--success {
  border-bottom-color: yellowgreen;
}

.notify--error {
  border-bottom-color: tomato;
}